*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fbf8cc;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color:#353535;
    color: #fca311;
}
nav ul{
    display: flex;
    justify-content: center;
    }
nav ul li{
    list-style: none;
    margin: 0 25px;
}
nav ul li a {
 text-decoration: none;
 color:#fca311;
}
nav a{
    text-decoration:none;
 color: black;
}
nav ul li a:hover {
    color:#ffb4a2;
    font-size: 1.02rem;
}
.left{
    font-size: 1.5rem;
}
.left span{
    font-size: 1.2rem;
    font-family: Verdana;
    color: #457b9d;
}
.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
    height: auto;
}
.leftsection {
    font-size: 2.5rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: #457b9d;
    padding: 20px;
}

.leftsection div {
    margin-top: 10px;
    font-weight: bold;
    color: #db7c26; 
    text-align: right;
}
.rightsection {
    width: 45%;
    padding: 20px;
    border-left: solid 12px red;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.rightsection h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.rightsection p {
    color: #555;
    font-size: 24px;
    text-align: justify;
}
.books-section {
    padding: 50px 0;
    /* background-color: #fff; */
}
.books-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1px;
}
.book-card {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #cad2c5;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}
.book-popular h2{
    font-size: 4rem;
    text-align: center;
    color: #457b9d;
}
.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.book-content {
    padding: 20px;
}

.book-content h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}
.checked {
    color: orange;
}

.author {
    margin: 5px 0;
    font-size: 16px;
    color: #777;
}

.description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
.add-to-list {
    position:relative;
    /* margin-left: 20px; */
    margin-top: -2px;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor:pointer;
    border-radius: 4px;
}

.add-button:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

